[color]
  ui = true

[user]
  name = Ben Jackson
  email = bjackson2@gmail.com

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[alias]
  p = !git push origin $(git rev-parse --abbrev-ref HEAD)
  pf = !git push origin $(git rev-parse --abbrev-ref HEAD) --force
  co = checkout
  sla = log --oneline --decorate --graph --all
  sl = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  frm = !git checkout $(git default-branch) && git fetch origin -p && git rebase origin/$(git default-branch) && git checkout -
  amp = !git add . && git commit --amend --no-edit && git push origin $(git rev-parse --abbrev-ref HEAD) --force
  gcpr = !git gc --aggressive && git prune
  rim = !git rebase -i $(git default-branch)
mit = !git frm && git rim && git pf && git co $(git default-branch) && git merge - && git p
rc = !$(git gd) | sudo xargs rubocop
  gd = !git diff --name-only --cached
  default-branch = !bash -c '(git config --get branch.main.merge) &> /dev/null && echo "main" || echo "master"'

[grep]
  linenumber = true

[core]
  editor = /usr/bin/vim
  excludesfile = /Users/bjackson/.gitignore_global

[pager]
  branch = false
